* {
	border-style: border-box;
}

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url("../images/arches.png");
	margin: 0 auto;

}




header {
	height: 100px;
	background-color: #fff;
	margin-bottom: 50px;
	overflow:hidden;
	width: 100%;
	
	
}

h1 {
	float: left;
	background-color: #4aaaa5;
	color: white;
}

nav {
	float: right;
	margin-right: 45px;
}

nav a {
	border-right: 1px solid #ededed;
	margin: 15px;
	padding-right: 15px;
}

a {
	text-decoration: none;

}




