* {
    box-sizing: border-box;
}

html, body {
    background: url(../images/arches.png);
    font-family: 'Arial', 'Helvetica neue', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

#wrapper {
	min-height:100%;
	position: relative;
}

header {
    background: #fff;
    margin: 0px;
    border-bottom: 2px solid #ccc;
    height: 100px;
    overflow: hidden;
}

header h1 {
    background: #4aaaa5;
    float: left;
    color: white;
    padding: 35px;
    margin: 0 30px 0 75px;
    white-space: nowrap;
}

nav {
    float: right;
    padding-top: 40px;
    margin-right: 60px;
    margin-left: 10%;
}

.container {
    width: 960px;
    overflow: hidden;
    margin: 30px 75px 0px 75px;
    padding-bottom: 100px;
}

.about {
    width: 650px;
    border: 1px solid #ccc;
}

.connect {
    width: 270px;
    border: 1px solid #ccc;
}


a {
    text-decoration: none;
}

nav a {
    border-right: 1px solid #ccc;
    padding: 15px;
}

nav a:last-child {
    border: none;
}



.about {
    float: left;
    background: #fff;
    margin-bottom: 35px;
    padding: 35px;
}

.connect {
    float: left;
    margin-left: 15px;
    background: #fff;
    padding: 10px;
}

.icons {
    padding: 5px;
}

h2 {
    color: #4aaaa5;
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
}

h3 {
    text-align: center;
    color: #4aaaa5;
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
}

footer {
	background: #666;
	text-align: center;
	border-top: 6px solid #4aaaa5;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	clear: both;
	color: #fff;
	padding-top: 35px;

}
