/****MAIN BODY****/

* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    background: url(../images/arches.png);
    font-family: 'Arial', 'Helvetica neue', Helvetica, sans-serif;
    height: 100%;
}

h1,h2,h3,h4,h5 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
    color: red;
}


a:visited {
    color: blue;
}

a:hover {
    color: orange;
}

/****HEADER****/

header {
    background: #fff;
    margin: 0px;
    border-bottom: 2px solid #ccc;
    height: 100px;
    overflow: auto; /* prevents content from leaving header space */
}

header h1 {
    background: #4aaaa5;
    float: left;
    color: white;
    padding: 31px;
    margin: 0 30px 0 75px;
    white-space: nowrap; /*prevents my name from stacking when page shrinks*/
    
    }


nav {
    float: right;
    padding-top: 40px;
    margin-right: 60px;
}


nav a {
    border-right: 1px solid #ccc;
    padding: 15px;
}

nav a:last-child { /* Removes last link border*/
    border: none;
}



/****MAIN CONTENT BOX (About and Connect)****/



#content {
    width: 960px;
    margin: 75px auto;
    margin-bottom: 0;
    
}


/***ABOUT SECTION****/


#about {
    width: 650px;
    border: 1px solid #ccc;
    float: left;
    background: #fff;
    padding: 35px;
}

h2 {
    color: #4aaaa5;
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
}

#about img {
    margin: 10px 20px 10px 0;
    box-shadow: 10px 10px 5px #888;
    float: left;
}

p {
    padding: 15px;
    line-height: 1.2em;
    font-size: 1.2em;
}


/*****CONNECT SECTION****/


#connect {
    float: right;
    background: #fff;
    padding: 10px;
    width: 270px;
    border: 1px solid #ccc;
}


#connect h2 {
    text-align: center;
    top-margin: 25px;
}

#icons {
    padding: 15px 5px 5px 5px;
}



/*****FOOTER*****/


#push {
    height: 100px;
    clear: both;
}

footer {
	background: #666;
	text-align: center;
	border-top: 6px solid #4aaaa5;
	width: 100%;
	height: 100px;
	clear: both;
	color: #fff;
	padding-top: 35px;

}
